.calc-title {
  margin-left: 20%;
  margin-top: 5%;
}

.calc-amount-time-container {
  width: 70%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2%;
  display: block;
}

.calc-amount-time-loan-container {
  margin: 0 20% 5% 20%;
  display: flex;
}

.calc-apply-btn {
  margin-top: 5%;
  margin-left: 1%;

  background-color: #5584ac;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.calc-apply-btn:hover {
  background-color: #22577e;
}

.calc-loan-amount-container {
  width: 30%;
  margin-left: 5%;
  text-align: center;
}

.calc-form {
  margin: 3% 0;
}

.calc-form-input {
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.calc-time {
  margin-top: 10%;
}

input[type="number"].calc-form-input {
  width: 30%;
  padding: 2%;
  border-radius: 4px;
}

input[type="range"].calc-form-input {
  width: 100%;
  height: 5px;
  display: block;
  border-radius: 1px;
  margin-top: 3%;
}

.calc-error-msg {
  color: red;
}
