.hi {
  margin-left: 30%;
  margin-top: 5%;
}

.margaphoto {
  margin-left: 10%;
  width: 13%;
}

.me,
.what,
.show {
  display: flex;
}

.presentation {
  margin: 3% 30% 0 7%;
  text-align: justify;
}
