ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.horizontal li {
  float: left;
}

ul.horizontal li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
  background-color: #000;
}

ul.horizontal li a.active {
  background-color: #04aa6d;
}

ul.gray {
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

ul.gray li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.gray li a:hover:not(.active) {
  background-color: #ddd;
}

ul.gray li a.active {
  color: white;
  background-color: #008cba;
}

body {
  font-family: "Montserrat", sans-serif;
}

input[type="number"] {
  font-family: "Montserrat", sans-serif;
}

.loan-calc-form {
  margin: 1% 0;
}

.amount-time-loan {
  margin: 0 20% 5% 20%;
  display: flex;
}

h1 {
  font-family: "Montserrat";
  margin-left: 20%;
  margin-top: 5%;
}

.amount-time {
  width: 70%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2%;
  display: block;
}

input[type="number"].loan-calc-form-input {
  width: 30%;
  padding: 2%;
  /* margin: 8px 0; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="range"].loan-calc-form-input {
  width: 100%;
  /* padding: 12px 20px;
  margin: 8px 0; */
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loan-amount {
  width: 30%;
  margin-left: 5%;
  text-align: center;
}
