* {
  font-family: "Montserrat", sans-serif;
}

.slide-title {
  margin-left: 5%;
  margin-top: 3%;
}

.explanation-list li {
  margin-top: 3%;
}

.explanation-container {
  margin-left: 10%;
  margin-right: 10%;
}
